{% extends 'base.html.twig' %}

{% block body %}
    {% for r in room %}
        <h3>{{ r.category.name }} {{ r.subcategory.name }}</h3>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_row(form.datefrom) }}
        {{ form_row(form.dateto) }}
        {{ form_row(form.email) }}

        <button type="submit" class="btn btn-primary mt-3" formnovalidate>Save</button>
    {{ form_end(form) }}
{% endblock %}
