{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <div id='calendar'></div>
        </div>
    </div>
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('lib/moment.min.js') }}"></script>
    <script src="{{ asset('lib/fullcalendar.js') }}"></script>
    <script>
        // A $( document ).ready() block.
        $( document ).ready(function() {
            $(function() {

                // page is now ready, initialize the calendar...

                $('#calendar').fullCalendar({
                    eventLimit: true,
                    events: [
                        {% for reservation in reservations %}
                            {% if reservation.status is same as(true) %}
                                {
                                    title  : '{{ reservation.room.category.name }} {{ reservation.room.subcategory.name }}',
                                    start  : '{{ reservation.datefrom|date('Y-m-d') }}',
                                    end    : '{{ reservation.dateto|date('Y-m-d') }}',
                                    color  : '#3a87ad'

                                },
                            {% elseif (reservation.declined is same as(true) and is_granted('ROLE_ADMIN') ) %}
                                {
                                    title  : '{{ reservation.room.category.name }} {{ reservation.room.subcategory.name }}',
                                    start  : '{{ reservation.datefrom|date('Y-m-d') }}',
                                    end    : '{{ reservation.dateto|date('Y-m-d') }}',
                                    color  : '#FFA500'
                                },
                            {% endif %}
                        {% endfor %}
                    ],


                })

            });
        });

    </script>
{% endblock %}




{% endblock %}