{% extends 'base.html.twig' %}

{% block body %}

    <h1>Slobodne sobe</h1>
    <div class="row">
        <div class="col-12">
            {% for room in rooms %}
                {% if room.amount != 0 %}
                    <div class="row">
                        <div class="col-12">
                            <p>{{ room.category.name }} {{ room.subcategory.name }}</p>
                        </div>
                    </div>
                    <div class="row room-desc">
                        <div class="col-4">
                            <img width="200" height="150" src="../../../../../uploads/image/{{ room.image }}" alt="">
                        </div>
                        <div class="col-4">
                            <p>{{ room.description }}</p>
                        </div>
                        <div class="col-4">
                            <a class="btn btn-primary" href="{{ path('book', {'id': room.id}) }}">Rezerviraj</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-info" href="{{ path('admin/edit-room', {'id': room.id}) }}">Uredi</a>
                                <a class="btn btn-danger" href="{{ path('admin/delete-room', {'id': room.id}) }}">Obriši</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>Preostalo soba: {{ room.amount }}</p>
                        </div>
                    </div>
                    <hr>
                {% endif %}
            {% endfor %}
        </div>
    </div>




{% endblock %}