{% extends 'base.html.twig' %}

{% block body %}

    <h1>Slobodne sobe</h1>
    <div class="row">
        <div class="col-12">
            {% for room in rooms %}
                    <div class="row">
                        <div class="col-12">
                            <p>{{ room.category.name }} {{ room.subcategory.name }}</p>
                        </div>
                    </div>
                    <div class="row room-desc">
                        <div class="col-3">
                            <img width="200" height="150" src="../../../../../uploads/image/{{ room.image }}" alt="">
                        </div>
                        <div class="col-3">
                            <p>{{ room.description }}</p>
                        </div>
                        <div class="col-3">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                Launch demo modal
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div id='calendar'></div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <a class="btn btn-primary" href="{{ path('book', {'id': room.id}) }}">Rezerviraj</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-info" href="{{ path('admin/edit-room', {'id': room.id}) }}">Uredi</a>
                                <a class="btn btn-danger" href="{{ path('admin/delete-room', {'id': room.id}) }}">Obriši</a>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
            {% endfor %}
        </div>
    </div>




{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('lib/moment.min.js') }}"></script>
    <script src="{{ asset('lib/fullcalendar.js') }}"></script>
    <script>
        // A $( document ).ready() block.
        $( document ).ready(function() {
            $(function() {

                // page is now ready, initialize the calendar...

                $('#calendar').fullCalendar({

                })

            });
        });

    </script>
{% endblock %}