{% extends 'base.html.twig' %}

{% block body %}
    <h3>Enter new subcategory</h3>
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        <button type="submit" class="btn btn-primary mt-3" formnovalidate>Save</button>
    <hr>
    {{ form_end(form) }}

    {% for subCategory in subCategories %}
        <div class="row">
            <div class="col-6">
                <p>{{ subCategory.name }}</p>
            </div>
        </div>
    {% endfor %}

    <h3>Enter new category</h3>
    {{ form_start(categoryForm) }}
        {{ form_row(categoryForm.name) }}
        {{ form_row(categoryForm.subcategory) }}
    <button type="submit" class="btn btn-primary mt-3" formnovalidate>Save</button>
    <hr>
    {{ form_end(categoryForm) }}

    {% for category in categories %}
        <div class="row">
            <div class="col-6">
                <p>{{ category.name }}</p>
                <p>{{ category.subcategory.name }}</p>
            </div>
        </div>
    {% endfor %}




{% endblock %}