{% extends 'base.html.twig' %}

{% block body %}

    <h2>Rezervacije</h2>
            <div class="row">
                <div class="col-12">
                    {{ form_start(orderForm) }}
                            {{ form_row(orderForm.orderby) }}
                    {{ form_end(orderForm) }}

                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Od</th>
                                <th>Do</th>
                                <th>Email</th>
                                <th>Soba</th>
                                <th>Naćin plaćanja</th>
                                <th>Akcija</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for reservation in reservations %}
                                {% if (reservation.status is same as(false) and reservation.declined is same as(false)) %}
                                    <tr>
                                        <td>{{ reservation.datefrom|date('d.m.Y') }}</td>
                                        <td>{{ reservation.dateto|date('d.m.Y') }}</td>
                                        <td>{{ reservation.email }}</td>
                                        <td>{{ reservation.name }}</td>
                                        <td>{{ reservation.paymentMethod }}</td>
                                        <td>
                                            <a class="btn btn-primary" href="{{ path('admin/accept', {'id': reservation.id, 'roomid': reservation.room}) }}">Prihvati</a>
                                            <a class="btn btn-warning" href="{{ path('admin/decline', {'id': reservation.id, 'roomid': reservation.room}) }}">Odbi rezervaciju</a>
                                            <a class="btn btn-primary" href="{{ path('admin/pdf-download', {'reservation': reservation.id}) }}">Račun</a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        $('#order_by_form_orderby').change(function(){
            $(this).closest('form').trigger('submit');
        });

        /*$('input:radio').click(function(e) {
            e.preventDefault();
            var value = $('input:radio:checked').val();

            $.ajax({
                url:'{{ (path('admin/reservations')) }}',
                type: 'POST',
                data: {'choice': value},
                success: function (response) {

                }
            });
        });*/



    </script>
{% endblock %}