{% extends 'base.html.twig' %}

{% block body %}

    <h2>Rezervacije</h2>
            <div class="row">
                <div class="col-12">
                        {{ form_start(orderForm) }}
                            {{ form_row(orderForm.orderby) }}
                        {{ form_end(orderForm) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Od</td>
                                <td>Do</td>
                                <td>Email</td>
                                <td>Soba</td>
                                <td>Akcija</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for reservation in reservations %}
                                {% if (reservation.status is same as(false) and reservation.declined is same as(false)) %}
                                    <tr>
                                        <td>{{ reservation.datefrom|date('d.m.Y') }}</td>
                                        <td>{{ reservation.dateto|date('d.m.Y') }}</td>
                                        <td>{{ reservation.user.email }}</td>
                                        <td>{{ reservation.room.category.name }} {{ reservation.room.subcategory.name }}</td>
                                        <td>
                                            <a class="btn btn-primary" href="{{ path('admin/accept', {'id': reservation.id, 'roomid': reservation.room.id}) }}">Prihvati</a>
                                            <a class="btn btn-warning" href="{{ path('admin/decline', {'id': reservation.id, 'roomid': reservation.room.id}) }}">Odbi rezervaciju</a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#order_by_form_orderby').change(function(){
            $(this).closest('form').trigger('submit');
        });
    </script>
{% endblock %}