{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h3>Create new room</h3>
            {{ form_start(form) }}
                {{ form_row(form.description) }}
                {{ form_row(form.category) }}
                {{ form_row(form.subcategory) }}
                {{ form_row(form.amount) }}
                <button type="submit" class="btn btn-primary mt-3" formnovalidate>Save</button>
            {{ form_end(form) }}
        </div>
    </div>


{% endblock %}