{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <h3>Unesite naziv potkategorije</h3>
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            <button type="submit" class="btn btn-primary mt-3" formnovalidate>Spremi</button>
            <hr>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Naziv</th>
                    <th>Status</th>
                    <th>Akcija</th>
                </tr>
                </thead>
                <tbody>
                {% for subCategory in subCategories %}
                    <tr>
                        <td>{{ subCategory.name }}</td>
                        <td>
                            {% if subCategory.hidden is same as(false) %}
                                Aktivno
                            {% else %}
                                Skriveno
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-dark" href="{{ path('admin/edit-subcategory', {'id': subCategory.id})  }}">Uredi</a>
                            {% if subCategory.hidden is same as(true) %}
                                <a class="btn btn-primary" href="{{ path('admin/activate-subcategory', {'id': subCategory.id}) }}">Aktiviraj</a>
                            {% else %}
                                <a class="btn btn-danger" href="{{ path('admin/hide-subcategory', {'id': subCategory.id}) }}">Ukloni vidljivost</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}