<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}Room reservation app{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/fullcalendar.css') }}">
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('booking') }}">Rezervacija</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Sobe</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse">
        <ul class="navbar-nav ml-auto">
            {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_EMPLOYEE') or is_granted('ROLE_USER') ) %}
                {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_EMPLOYEE')) %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Rezervacije</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('admin/accepted') }}">Prihvaćene</a>
                            <a class="dropdown-item" href="{{ path('admin/reservations') }}">Pristigle</a>
                            <a class="dropdown-item" href="{{ path('admin/declined') }}">Odbijene</a>
                        </div>
                    </li>
                {% endif %}
                {% if (is_granted('ROLE_ADMIN')) %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin/create-category') }}">Dodaj kategoriju</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin/create-room') }}">Dodaj sobu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin/employees') }}">Dodaj zaposlenika</a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profil</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('user-reservations') }}">Rezervacije</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Odjavi se</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('register') }}">Registriraj se</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Prijavi se</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container">
    {% for message in app.flashes('success') %}
        <div class="row mt-3">
            <div class="col">
                <div class="alert alert-success">
                    {{ message }}
                </div>
            </div>
        </div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>